# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# FAISS and other local databases / logs
attendance_log.csv

# Exclude images in dataset folder (the database)
dataset/*
!dataset/.gitkeep
firebase_credentials.json

